.todos-edite-modal,
.crate-modal {
    .modal-completed-switch {
        .app-switch.is-primary {
            color: #f50057;
            &.is-checked {
                color: #4caf50;
                & + .app-switch-track {
                    background-color: #4caf50;
                }
            }
        }
        .app-switch-track {
            background-color: #f50057;
        }
    }
}
