.header-logo-main {
  .header-logo-main-link {
    span {
      font-size: 26px;
      border: 1px solid #ffffff;
      padding: 4px 7px 4px 15px;
      line-height: 31px;
      color: #fff;
      letter-spacing: 8px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
