$primary-color: #000000;
$secondary-color: #555555;

$success-color: #3cc261;
$info-color: #26b6cf;
$warning-color: #ffbd5d;
$danger-color: #e52427;

$background-color: #ffffff;
$text-color: #4a545b ;